.fade-in-bottom {
    animation: fade-in-bottom 0.3s;
  }
  
  @keyframes fade-in-bottom {
    0% {
      transform: translateY(20px);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }